img {
  width: 320px;
  height: 180px;
  object-fit: scale-down;
  background-image: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    color: #000000;
    padding-bottom: 10rem;
    position: relative;
    z-index: 9;
    padding-left: 2rem; 

    app-project-container {
      margin-bottom: 2rem;
      height: 320px;
      width: 320px;
    }

    .all-projects {
      display: flex;
      box-sizing: border-box;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      z-index: 99;
      padding-bottom: 12vw;

      @media (max-width: 1000px) {
        flex-direction: column;
      }
    }

    @media (max-width: 1000px) {
      padding: 2rem;
    }

    .section-title {
      color: var(--light-theme-bgMain);
      margin-top: 4rem;
      margin-bottom: 8rem;
    }

    .align {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .project-button {
      background-image: none;
      background-color: var(--overlay);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -1rem;
      color: white;
    }

    .button-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .description-container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .description-container p {
      padding: 20px;
      line-height: 30px;
    }
}
