.skills {
  display: flex;
  width: 100%;
  background-color: #4a1d9e;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: -5vw;
  padding-bottom: 12vw;
  padding-left: 2rem;


  .skills-container {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 12vw;

    @media (max-width: 1000px) {
      margin-bottom: 12vw;
    }

    .left {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      justify-content: space-around;
      box-sizing: border-box;
      width: 100%;
      z-index: 99;
      
      app-project-container {
        margin-bottom: 2rem;
        height: 320px;
        width: 320px;
      }

      @media (max-width: 1000px) {
        flex-direction: column;

        app-project-container {
          margin-bottom: 2rem;
          height: 320px;
          width: 320px;
        }
      }
    }

    .right {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      margin-left: 2rem;
    }

    @media (max-width: 1000px) {
      padding: 0;
      flex-direction: column;

      .left, .right {
        width: 100%;
      }
    }
  }

  @media (max-width: 1000px) {
    padding: 2rem;
  }
}

.card-subtitle-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-subtitle {
  justify-content: center;
  align-items: center;
}

.theme-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-class {
  margin-bottom: 3rem;
}

.section-title {
  color: #ffffff;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}