<div class="skills padded-container skew" id="skills">
  <h2 class="section-title unskew">Skills</h2>
  <div class="skills-container unskew">
    <div class="left">
      <app-project-container defaultTitle="HTML & CSS">
        <default-content>
          <ul>
            <li>Accessible HTML</li>
            <li>Responsive Design</li>
            <li>Mobile-First Principles</li>
            <li>Cross-Browser Compatible</li>
            <li>SCSS/SASS</li>
            <li> Version Control (Git)</li>
          </ul>
        </default-content>
        <active-content>
          <div class="theme-container">
            <h3 class="title-class">Theme Switcher</h3>
            <app-theme-button class="theme-button"></app-theme-button>
          </div>
        </active-content>
      </app-project-container>

      <app-project-container defaultTitle="JavaScript & Typescript">
        <default-content>
          <ul>
            <li>Experienced With JQuery</li>
            <li>Experienced With RESTful APIs</li>
            <li>Experienced With Both ES5 and ES6</li>
            <li>Experienced with debugging</li>
            <li>Experienced Working With Command-Line Interface (CLI)</li>
          </ul>
        </default-content>
        <active-content>
          <app-api-call (valueChange)='displayTitle($event)'></app-api-call> <!--API CALL WIDGET COMPONENT-->
        </active-content>
      </app-project-container>

      <app-project-container defaultTitle="Angular & RxJS">
        <default-content>
          <ul>
            <li>Reactive Development Principles</li>
            <li>Experienced With Progressive Web Apps (PWA)</li>
            <li>Experienced With Building Single Page Applications (SPA)</li>
            <!-- <li></li> -->
          </ul>
        </default-content>
        <active-content>
          <app-type-ahead (valueChange)='displayTitle($event)'></app-type-ahead> <!--API CALL WIDGET COMPONENT-->
        </active-content>
      </app-project-container>

    </div>

    <!-- <div class="right">
      <app-animation-helper></app-animation-helper>
    </div> -->
  </div>

</div>
