<div class="page-container">
    <h1>LeafDrop.co</h1>
    <div class="wide-content skew">
        <div class="wide-image unskew">
            <img src="../../../assets/img/leafdrop-banner.jpg">
        </div>
        <div class="wide-text unskew">
            <p>LeafDrop was designed to be clean, modern and streamlined. This makes their site easy to use, and translates well across any desktop or mobile device. This was achieved by using simple shapes, tints and shades of green, and frequently utilizing white space.</p>
        </div>
    </div>
    <div class="left-content">
        <div class="left-image">
            <img src="../../../assets/img/leafdrop-menu.jpg">
        </div>
        <div class="text">
            <p>To accommodate both mobile and desktop users, the products are displayed in dynamic product cards. When the cards are clicked or tapped, using JavaScript, the user is then directed to that specific item's product page. Or the item is added directly to the cart when the user clicks or taps the "Add to cart" button.</p>
        </div>
    </div>
    <div class="right-content skew">
        <div class="right-image unskew">
            <img src="../../../assets/img/leafdrop-checkout.jpg">
        </div>
        <div class="right-text unskew">
            <p>The shopping cart is conveniently placed as a menu that can be opened at any time from the side of the screen. This makes editing purchases and checking out easy and user-friendly.</p>
        </div>
    </div>
    <div class="left-content">
        <div class="left-image">
            <img src="../../../assets/img/leafdrop-register.jpg">
        </div>
        <div class="text">
            <p>When clicking the "My Account" button, the user is directed to a page where they may log into the site or register a new account. Allowing the user to add and manage payments as well as subscribe to e-mail updates from the website.</p>
        </div>
    </div>
</div>