<div class="page-container">
    <h1>ICEWATER</h1>
    <div class="wide-content skew">
        <div class="wide-image unskew">
            <img src="../../../assets/img/icewater-intro.gif">
        </div>
        <div class="wide-text unskew">
            <p>For ICEWATER's theme, there was an emphasis on motion and growth to convey their brand's digital content philosophy. This was achieved by making use of large, clear text and taking advantage of many different CSS animations to create an engaging user experience.</p>
        </div>
    </div>
    <div class="left-content">
        <div class="left-image">
            <img src="../../../assets/img/icewater-menu.gif">
        </div>
        <div class="text">
            <p>ICEWATER posts various pieces of content to their site; quick links to these pages are showcased on the Home page of the site as a list of panels within a menu. Hovering over a panel will highlight it, and clicking a panel will bring the user to the content's corresponding page.</p>
        </div>
    </div>
    <div class="wide-content skew">
        <div class="wide-image unskew">
            <img src="../../../assets/img/icewater-slider.gif">
        </div>
        <div class="wide-text unskew">
            <p>This is an animated list of clients ICEWATER has previously worked with. It is visually presented as a carousel of brand logos. When a greyed-out brand logo is hovered over, the logo shifts upwards and is replaced by a fully colored one. When a colored logo is then clicked, the user is directed to that brand's site.</p>
        </div>
    </div>
    <div class="left-content">
        <div class="alt-img">
            <img src="../../../assets/img/icewater-footer.jpg">
        </div>
        <div class="alt-text">
            <p>This menu was implemented to increase potential client engagement by quickly linking to one of ICEWATER's social platforms (Tiktok), and offering a fast and direct way to create a line of contact with their communications team. </p>
        </div>
    </div>
</div>